* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-timing-function: ease-in-out;
}
body {
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
.add-form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form .todo-button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form .todo-button {
  color: #a88beb;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .todo-button:hover {
  background: #a88beb;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: auto;
}

.todo-list {
  list-style: none;
  width: 100%;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn,
.edit-btn {
  background: #f15800;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 200ms;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.trash-btn{
  background: rgb(221, 32, 14);
}

button:hover{
  transform: scale(1.1);
}

button:active{
  transform: scale(.9);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #a88beb;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #a88beb;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */

.select:hover::after {
  transform: scale(1.2);
  transition: transform 200ms;
}

.select:active::after {
  transform: scale(.9);
}


.editing{
  animation: editing 500ms ease-in-out;
  transform: scale(1.3);
}

.editing button{
  transform: scaleY(1.1);
}

@keyframes editing{
  from {transform: scale(1);}
  to {transform: scale(1.3);}
}
